<html>
<head>
<title>Welcome to {{ domain }}!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to {{ domain }}!</h1>
<p>If you see this page, it means there is a website for this domain.
That's a private domain.</p>

<p><em>Thank you.</em></p>
</body>
</html>
